@use "./Content/components/font-sizes";
@use "./Content/source/Variables" as v;

:root {
    --background: #E7F3FE;
    --foreground: #363636;
    --primary: #2589CA;
    --primary-foreground: white;
    --link: #1E4AE9;
    --radius: 8px;
    --border: #42A2E1;
    --shadow: 0px 0px 8px 0px #2086C873;
    --input: #FFFFFF;
    --input-foreground: #9E9E9E;
    --destructive: oklch(0.6149 0.252305 29.2339);
    --shadow-destructive: 0px 0px 8px 0px oklch(0.6149 0.252305 29.2339 / .45);
}

#newLogin {
    background-color: var(--background);
    color: var(--foreground);
    font-size: var(--text-md);

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 2rem;
        height: 100dvh;
        max-width: 35rem;
        margin: auto;
        position: relative;
        overflow-x: hidden;

        .head {
            display: flex;
            align-items: flex-end;
            gap: 1rem;

            img {
                width: 11rem;
            }
            p {
                color: var(--primary);
                font-weight: bold;
                font-size: var(--text-3xl);
                line-height: 2.6rem;
            }
        }

        .animationRail {
            width: 100%;
            position: relative;

            .section {
                position: absolute;
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 2rem;
                opacity: 0;
                visibility: hidden;
                transform: translateX(1rem);

                &.active {
                    opacity: 1;
                    transition: .2s all;
                    visibility: visible;
                    position: static;
                    transform: translateX(0rem);
                }
            }
        }

        .tabs {
            display: flex;
            justify-content: center;

            button {
                background: none;
                border: 2px solid transparent;
                font-size: var(--text-lg);
                padding: 1rem;
                border-radius: var(--radius);
                flex-basis: 50%;

                &.active {
                    font-weight: bold;
                    border-bottom-color: var(--primary);

                }
            }
        }

        .grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1rem;
        }

        .title {
            position: relative;
            margin-block: 1rem;
            h3 {
                font-weight: bold;
                font-size: var(--text-2xl);
            }
            aside {
                display: flex;
                align-items: center;
                gap: .5rem;
                position: absolute;
                left: 0;
                top: 0;
            }
        }

        .btn, .input {
            width: 100%;
        }

        .flex-center {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: .2rem;
        }

        .inputs {
            > *:not(:last-child) {
                margin-bottom: 1rem;
            }
        }
    }

    @include v.media(v.$tablet) {
        .container .head p {
            font-size: var(--text-2xl);
        }
    }
    @include v.media(v.$mobile) {
        .container {
            .head {
                flex-direction: column;
                align-items: center;
            }
            .tabs button {
                padding: 0;
            }
            .grid {
                grid-template-columns: 1fr;
            }
            .title aside {
                position: static;
            }
        }
    }
}

.btn {
    background-color: var(--primary);
    color: var(--primary-foreground);
    padding: 0.8rem 0;
    border-radius: var(--radius);
    transition: .2s all;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;

    &::after {
        content: "";
        width: 0;
        opacity: 0;
        height: 1rem;
        border: 2px solid var(--background);
        border-bottom-color: var(--primary);
        display: inline-block;
        border-radius: 100%;
        transition: inherit;

        @keyframes spin {
            0% {transform: rotate(0deg);}
            100% {transform: rotate(360deg);}
        }
    }

    &.loading {
        opacity: .8;

        &::after {
            content: "";
            opacity: 1;
            width: 1rem;
            animation: spin 1s infinite;
        }
    }
}

.link {
    color: var(--link);
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

.input {
    background: var(--input);
    border: 1px solid var(--border);
    border-radius: var(--radius);
    padding: 0.6rem 1rem;
    height: max-content;
    opacity: .8;

    &:focus {
        opacity: 1;
        box-shadow: var(--shadow);
    }
    &::placeholder {
        color: var(--input-foreground);
    }
    &.hasError {
        border-color: var(--destructive);
        box-shadow: var(--shadow-destructive);
    }
}

.otpInput {
    display: grid;
    grid-template-columns: repeat(5, 3rem);
    justify-content: center;
    gap: 1rem;
    direction: ltr;

    .input {
        text-align: center;
        font-size: var(--text-lg);
    }
}

.text-center {
    text-align: center;
}

.flex {
    display: flex;

    &.between {
        justify-content: space-between;
    }
}

.validation-error {
    color: var(--destructive);
    font-size: var(--text-sm);
    max-height: 0;
    overflow: hidden;
    transition: .2s all;
    display: block;

    &.show {
        max-height: 5rem;
    }
}

[data-target] {
    user-select: none;
}

.hiddenByDefault {
    &:not(.active) {
        display: none !important;
    }
}

.font-bold {
    font-weight: bold;
}

.cursor-pointer {
    cursor: pointer;
}