@use "./Content/components/font-sizes";

:root {
    --background: #E7F3FE;
    --foreground: #363636;
    --primary: #2589CA;
    --primary-foreground: white;
    --link: #1E4AE9;
    --radius: 8px;
}

#newLogin {
    background-color: var(--background);
    color: var(--foreground);
    font-size: var(--text-md);

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 2rem;
        height: 100dvh;
        max-width: 35rem;
        margin: auto;

        .head {
            display: flex;
            align-items: flex-end;
            gap: 1rem;

            img {
                width: 11rem;
            }
            p {
                color: var(--primary);
                font-weight: bold;
                font-size: var(--text-3xl);
                line-height: 2.6rem;
            }
        }
        .btn {
            width: 100%;
        }
    }
}

.btn {
    background-color: var(--primary);
    color: var(--primary-foreground);
    padding: 0.8rem 0;
    border-radius: var(--radius);
}

.link {
    color: var(--link);
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}