@use "./Content/components/font-sizes";

:root {
    --background: #E7F3FE;
    --foreground: #363636;
    --primary: #2589CA;
    --primary-foreground: white;
    --link: #1E4AE9;
    --radius: 8px;
    --border: #42A2E1;
    --shadow: 0px 0px 8px 0px #2086C873;
    --input: #FAFAFA;
    --input-foreground: #9E9E9E;
}

#newLogin {
    background-color: var(--background);
    color: var(--foreground);
    font-size: var(--text-md);

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 2rem;
        height: 100dvh;
        max-width: 35rem;
        margin: auto;
        position: relative;

        .head {
            display: flex;
            align-items: flex-end;
            gap: 1rem;

            img {
                width: 11rem;
            }
            p {
                color: var(--primary);
                font-weight: bold;
                font-size: var(--text-3xl);
                line-height: 2.6rem;
            }
        }

        #animationRail {
            width: 100%;
            position: relative;

            .section {
                position: absolute;
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 2rem;
                opacity: 0;
                visibility: hidden;
                transition: .2s opacity;

                &.active {
                    opacity: 1;
                    visibility: visible;
                    position: static;
                }
            }
        }

       
            
        #login {
            .tabs {
                display: flex;
                justify-content: center;

                button {
                    background: none;
                    border: 2px solid transparent;
                    font-size: var(--text-lg);
                    padding: 1rem;
                    border-radius: var(--radius);
                    flex-basis: 50%;

                    &.active {
                        font-weight: bold;
                        border-bottom-color: var(--primary);

                    }
                }
            }
        }

        #signup {
            .grid {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 1rem;
            }
            .title {
                h3 {
                    font-weight: bold;
                    font-size: var(--text-2xl);
                }
            }
        }

        .btn, .input {
            width: 100%;
        }
    }
}

.btn {
    background-color: var(--primary);
    color: var(--primary-foreground);
    padding: 0.8rem 0;
    border-radius: var(--radius);
}

.link {
    color: var(--link);
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

.input {
    background: var(--input);
    color: var(--input-foreground);
    border: 1px solid var(--border);
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    padding: 0.6rem 1rem;
}

.text-center {
    text-align: center;
}

.flex {
    display: flex;

    &.between {
        justify-content: space-between;
    }
}